.main{
    width: 100;
    height: 100vh;
    background-color:antiquewhite;
}
.cotainer{
    text-align: center;
}
button{
    border-width: 25;
    border-radius: 5;
    width: 255;
    background-color: antiquewhite;
}
.inp{
background-color:thistle ;
}
.dataa{
    color: brown;
}